.btn {
    width: 150px;
    height: 50px;
    background: rgb(255, 0, 0);
    border-radius: 50px;
    border: none;
    transition: 1s;
}

.btn-text {
    color: rgb(0, 0, 0);
}

.btn:hover {
    background: rgb(0, 255, 0);
}

.image {
    background: crimson;
    width: 100px;
    height: 100px;
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 2s;
    transition-delay: 0.5s;
}

.image:hover {
    width: 150px;
    height: 150px;
}

.square {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: color 5s 3;
  }
  
  @keyframes color {
    20% {
      background: yellow;
    }
    40% {
      background: green;
    }
    60% {
      background: salmon;
    }
    80% {
      background: slateblue;
    }
    100% {
      background: springgreen;
    }
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background: rgb(0, 255, 157);
    border: 1px double rgb(0, 153, 255);
    border-radius: 50%;
    animation-name: scale;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.5);
    }
    80% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

#icon {
  margin-left: 50px;
}

.instagram-logo,
.twitter-logo,
.facebook-logo,
.linked_in-logo {
  /* stroke: #757575; */
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram-logo:hover path,
.twitter-logo:hover path,
.facebook-logo:hover path,
.linked_in-logo:hover path {
  fill: white;
}

.ellipse:hover {
  background-color: #2196F3;
}

.ellipse:hover path {
  fill: #fff;
}

.ellipse {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
}

.client:hover rect {
  stroke: #2196F3;
}

.client:hover path {
  fill: #2196F3;
}

.email,
.phone-number {
  fill: #757575;
}

.email:hover path,
.phone-number:hover path {
  fill: #2196F3;
}

.title {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.instagram-icon,
.twitter-icon,
.facebook-icon,
.linked_in-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-container:hover,
.svg-container:hover .instagram-icon,
.svg-container:hover .twitter-icon,
.svg-container:hover .facebook-icon,
.svg-container:hover .linked_in-icon {
  background: #2196F3;
}

.svg-container {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #444141;
}

.svg-container:hover path {
  color: #2196F3;
}

.menu-container {
  position: relative;
}

.menu-trigger {
  padding: 10px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.side-menu {
  position: absolute;
  top: 0;
  left: -200px;
  width: 200px;
  height: 500px;
  background-color: #222;
  opacity: 0,5;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
}

.side-menu:hover {
  left: 0;
}

.list-item:hover {
  cursor: pointer;
  transition: color 400ms ease-in;
  color: darkgoldenrod;
}